<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>
        {% block title %} Todo List | {% endblock %}
    </title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static',filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>

<body>

<!-- Navigation -->
{% include 'navbar.html' %}
<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            {% for message in get_flashed_messages() %}
                <div class="alert alert-info alert-dismissable">
                    {{ message }}
                    <button class="close" type="button" data-dismiss="alert">x</button>
                </div>
            {% endfor %}
            {% block content %} {% endblock %}
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript -->
<script src="{{ url_for('static', filename= 'vendor/jquery/jquery.slim.min.js') }}"></script>
<script src="{{ url_for('static', filename= 'vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

</body>

</html>
