{% macro render_todo(todo,delete_form,update_form) %}
    <li class="list-group-item">
        {% if todo.to_dict()['done'] %}
            <span class="badge badge-success">Done</span>
        {% else %}
            <span class="badge badge-warning">Uncompleted</span>
        {% endif %}
        {{ todo.to_dict()['description'] }}
        <button class="btn" type="button" data-toggle="modal" data-target="#delete-todo-{{ todo.id }}">
            <i class="fas fa-trash"></i>
        </button>
        <button class="btn" type="button" data-toggle="modal" data-target="#update-todo-{{ todo.id }}">
            <i class="fas fa-edit"></i>
        </button>
        {% with todo=todo %}
            {% include 'delete_todo.html' %}
            {% include 'update_todo.html' %}
        {% endwith %}
    </li>
{% endmacro %}